@use '../variables.scss' as *;

.container-update-rec {
    width: 90%;
    height: 50vh;
    display: grid;
    grid-template-columns:repeat(2, auto);
    grid-template-rows:repeat(6, auto);
    margin-left: 4%;
    margin-top: 5vh;
}