@use '../variables.scss' as *;

.container-update-machine {
    width: 90%;
    height: 85vh;
    display: grid;
    grid-template-columns:repeat(2, auto);
    grid-template-rows:repeat(2, auto);
    margin-left: 4%;
    margin-top: 5vh;
}
.text-conainer {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.note {
    color: $main-color;
    font-size:2vh;
    margin-left: 4%;
}
.not-access-section {
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $bold-font;
    font-size: 2vh;
    color:$secondary-color
}
.button-not-access-section {
    cursor: pointer;
    border: none;
    border-bottom: 3px solid $main-color;
    font-family: $main-font;
    font-size: 2vh;
    color:$main-color
}
.error-eteration {
    margin-left: 4vw;
    color: $secondary-color;
    opacity: 0;
}
.error-eteration.active {
    margin-left: 4vw;
    color: $secondary-color;
    opacity: 1;
}

@media only screen and (max-width:900px) and (min-width:360px) {
    .container-update-machine {
        height: 110vh;
    }   
}